@model CMS.Core.ViewModels.Footer
<div class="footer" >
    <div class="container" style="padding: 10px;">
        <span>&copy; @DateTime.Now.Year -@Model.CompanyName</span><span style=" float: right">@Model.PoweredBy</span>
    </div>
</div>
