@*<div class="text-center">



        <object id="http://www.calameo.com/books/0003772203f075d1ab1e2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  >
            <param name="movie" value="http://v.calameo.com/2.3/cviewer.swf?bkcode=0003772203f075d1ab1e2&amp;langid=en" />
            <param name="quality" value="high" />
            <param name="wmode" value="opaque" />
            <param name="allowscriptaccess" value="always" />
            <param name="allowfullscreen" value="true" />
            <param name="swfversion" value="9.0.45.0" />
            <!--[if !IE]>-->
            <object id="calameo-viewer-inner-0003772203f075d1ab1e2-1354253352" type="application/x-shockwave-flash"
                        data="http://v.calameo.com/2.3/cviewer.swf?bkcode=0003772203f075d1ab1e2&amp;langid=en" width="1200" height="900">
                <!--<![endif]-->
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <param name="swfversion" value="9.0.45.0" />
                <param name="allowscriptaccess" value="always" />
                <param name="allowfullscreen" value="true" />
                <script type="text/javascript" src="http://s1.calameoassets.com/calameo-v4/widgets/loader/cloader.js"></script>
                <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </div>*@
