
  
   <style type="text/css">
       
       /*html, body  {
            height: 100%;
        }

        #vc, #vci, #ph, #js-dis {
            height: 85%;
        }*/

       /*html {
           overflow: hidden;
       }*/

       /*body {
           max-height: 100%;
           margin: 0;
           padding: 0;
           background-color: transparent;
       }*/

       #vci {
           font-family: Arial,Helvetica,sans-serif;
           font-size: 14px;
           font-weight: bold;
           text-align: center;
           color: white;
           text-shadow: -1px -1px 0px black;
       }

       #vci span, #vci a {
           font-size: 75%;
           font-weight: normal;
           color: #a0c4f9;
           font-weight: normal;
       }

       #ph {
           display: none;
           background: black;
       }

       #ph, #js-dis {
           font-weight: bold;
           padding: 5px 16px;
       }

       #js-dis span {
           color: #9a9a9a;
       }

       /*#ph-content {
           float: left;
       }*/
   </style>
<div >
    <div style="height: 750px;" id="vc">
        <div id="vci">
            <div id="ph">
                <div id="ph-content">
                </div>
            </div>
            @*<noscript>
                    <div id="js-dis">
                        <table border="0" height="100%" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td>Javascript disabled!<br /><span>You need to enable Javascript in your browser to view this publication.</span></td>
                            </tr>
                        </table>
                    </div>
                </noscript>*@
        </div>
    </div>
</div>

    <script type="text/javascript" src="http://v.calameo.com/js/embed-1.1.5-min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        var vc = Calameo.EmbedConfig.ViewerConfig;

        vc.langid = "en";
        vc.sid = "bde370c492cddb3c535d0e865bc77e54";
        vc.bkcode = "0003772203f075d1ab1e2";
        vc.authid = "";
        vc.login = "";
        vc.password = "";
        vc.subid = "";


        
        vc.trackersource = "calameo";

        Calameo.EmbedConfig.ViewerConfig = vc;

        Calameo.EmbedConfig.MobileDirect = true;
        Calameo.EmbedConfig.UseIFrame = true;

        var cv = new Calameo.EmbeddedViewer();
        //]]>
    </script>
   
<!-- Calaméo is done serving you. 0.0242 / 4,194,304 / 4,194,304 -->

    
 
  