@model TheCommLine.ViewModels.AppViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container">
    <h2>Dashboard</h2>
    
    <div class="form-group">
        <label for="CurrentPage.Title">Title</label>
        <input type="text" class="form-control" name="CurrentPage.Title" value="@Model.CurrentPage.Title" />

    </div>
    

</div>





