@*Display*@
@model TheCommLine.ViewModels.Advertise.AdvertisePage

@Html.DisplayFor(m=> m.PageHeader)

@Html.DisplayFor(m=> m.Content)



<div class="container">
    <div style="padding-top: 25px;" class="row ">
        <img class="img-responsive col-md-12" src="~/Content/Images/AdRates.png" />
    </div>
</div>


