@model CMS.Core.ViewModels.Header
<div class="container">
    <div style="padding-top: 25px;" class="row ">
        <img class="img-responsive col-md-3 col-sm-3" src="~/Content/Images/comm-line-logo-600r.png" />
        <span class="col-md-6 col-md-offset-1 col-sm-6 h3 ">@Model.TagLine</span>

    </div>
</div>
