<div class="magazine" style="text-align:center;">
    <iframe class="visible-lg"
            src="//v.calameo.com/?bkcode=000377220a264b6d2c8f9&showsharemenu=false"
            width=" 1200"
            height="850"
            frameborder="0"
            scrolling="no"
            allowtransparency
            allowfullscreen
            style="margin:0 auto;"></iframe>
    <iframe class="visible-md"
            src="//v.calameo.com/?bkcode=000377220a264b6d2c8f9&showsharemenu=false"
            width="992"
            height="700"
            frameborder="0"
            scrolling="no"
            allowtransparency
            allowfullscreen
            style="margin:0 auto;"></iframe>


    <iframe class="visible-sm"
            src="//v.calameo.com/?bkcode=000377220a264b6d2c8f9&showsharemenu=false"
            width="758"
            height="600"
            frameborder="0"
            scrolling="no"
            allowtransparency
            allowfullscreen
            style="margin:0 auto;"></iframe>
    <iframe class="visible-xs"
            src="//v.calameo.com/?bkcode=000377220a264b6d2c8f9&showsharemenu=false"
            width="350"
            height="200"
            frameborder="0"
            scrolling="no"
            allowtransparency
            allowfullscreen
            style="margin:0 auto;"></iframe> 

</div>
