@model CMS.Core.ViewModels.Footer
<div class="footer">
    <div class="container" style="padding: 10px;">
        <span>&copy; @DateTime.Now.Year</span><span>
        @*@Html.EditorFor(@Model.Copyright)*@
            
        </span><span style=" float: right">Web Design: Greg Gum</span>
    </div>

</div>



