@*Edit*@
@model CMS.Core.ViewModels.NavBar
    <div class="container">
            @Html.EditorFor(m=> m.HomePage)
            @Html.EditorFor(m=> m.AdvertisePage)
            @Html.EditorFor(m=> m.ContactPage)
    </div>

